/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
body{
	background-color: #ffffff;
}
a{
	text-decoration:none;
	color: royalblue;
}
a:hover{
	color: cadetblue;
}
li, p{
	font-family: sans-serif;
}
img {
	width: 100%;
}
h1, h2,h3,h4,h5,h6{
	font-family: Helvetica, Arial, sans-serif;
}


@media only screen and (min-width : 768px) {
.header{
	order:2;
	width:45%;
	margin: auto 0;
}
.basic{
	margin: 10px;
	padding: 25px;
}
.flex{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-flow: row wrap;
}

	width: 75%;
	padding: 15px;

}	
}

